RewriteEngine On


RewriteRule ^([A-Za-z0-9_-]+)-([0-9]+).html$ index.php?mod=page&controller=index&action=detail&id=$2&slug=$1
RewriteRule ^bai-viet/([A-Za-z0-9_-]+).html$ index.php?mod=post&controller=index&id=$1
